.green-day {
  background-color: #e6ffed !important; /* light green */
  border: 2px solid #28a745 !important; /* green border */
}

.red-day {
  background-color: #ffe6e6 !important; /* light red */
  border: 2px solid #dc3545 !important; /* red border */
}

.fc-event.dark-green {
  background-color: #006400 !important; /* DarkGreen */
  border: none;
  color: white;
}